name: Deploy to Hugging Face

on:
  push:
    branches: ["main"]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Configure Git
        run: |
          git config --global user.email "actions@github.com"
          git config --global user.name "GitHub Actions"

      - name: Clone Hugging Face Space
        run: |
          git clone https://__token__:${{ secrets.TEAMCAREERPROGRESSIONAPPTOKEN }}@huggingface.co/${{ secrets.HF_SPACE }} hf_space

      - name: Copy project files into HF Space
        run: |
          rsync -av --exclude='hf_repo' --exclude='.git' --exclude='.github' ./ hf_repo/

      - name: Commit & push to Hugging Face
        run: |
          cd hf_space
          git add .
          git commit -m "Auto deploy from GitHub" || echo "No changes to commit"
          git push
