name: Deploy to Hugging Face Space

on:
  push:
    branches: ["main"]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout GitHub repo
        uses: actions/checkout@v4

      - name: Configure Git
        run: |
          git config --global user.email "actions@github.com"
          git config --global user.name "GitHub Actions"

      - name: Clone Hugging Face Space repo
        run: |
          git clone https://__token__:${{ secrets.TEAMCAREERPROGRESSIONAPPTOKEN }}@huggingface.co/${{ secrets.HF_SPACE }} hf_repo

      - name: Sync project files to Space (overwrite)
        run: |
          rsync -av --exclude='hf_repo' --exclude='.git' --exclude='.github' ./ hf_repo/

      - name: Commit & Push
        run: |
          cd hf_repo
          git add .
          git commit -m "Auto deploy from GitHub" || echo "No changes"
          git push
