name: Deploy to Hugging Face Space

on:
  push:
    branches: [ "main" ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: |
          pip install huggingface_hub

      - name: Push to Hugging Face Space
        env:
          HF_TOKEN: ${{ secrets.TeamCareerProgressionAppTOKEN }}
        run: |
          huggingface-cli repo update \
            --token $TeamCareerProgressionAppTOKEN \
            --repo-id Priyanka-Ankam/Team-Progression-App \
            --folder .

