name: Deploy Docker App to Hugging Face Space

on:
  push:
    branches: [ "main" ]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repo
        uses: actions/checkout@v3

      - name: Install HF CLI
        run: pip install huggingface_hub

      - name: Upload to Hugging Face
        env:
          HF_TOKEN: ${{ secrets.HF_TOKEN }}
        run: |
          hf upload \
            Priyanka-Ankam/Team-Progression-App \
            . \
            --token $HF_TOKEN \
            --commit-message "Deploy updated Dockerfile"
